{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Liste ERP</h1>

    <div class="container-fluid">

         <div class="row">
            <form class="form-control col-4" action="{{ path('list') }}" method="get">
                <input class="col-6" type="text" name="commune" placeholder="Rechercher par Commune...">
                <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
            </form>
            <form class="form-control col-4" action="{{ path('list') }}" class="form" method="get">
                <input class="col-6" type="text" name="adap" placeholder="Rechercher par Id-adap...">
                <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
            </form>

             <form class="form-control col-4" action="{{ path('list') }}" class="form" method="get">
                 <input class="col-6" type="text" name="demandeur" placeholder="Rechercher par Demandeur...">
                 <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
             </form>
        </div>
        <br>
        <div class="row">
            <form class="form-control col-4" action="{{ path('list') }}" class="form" method="get">
                <input class="col-6" type="text" name="nom_voie" placeholder="Rechercher par Nom de voie...">
                <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
            </form>
            <form class="form-control col-4" action="{{ path('list') }}" class="form" method="get">
                <input class="col-6" type="text" name="nom_erp" placeholder="Rechercher par Nom ERP...">
                <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
            </form>
            <div class="form-control col-4">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-outline-danger btn-lg col-6">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Déconnexion
                    </a>
                {% else %}
                {% endif %}
            </div>

        </div>


        <br>


    </div>
            <div class="col-lg-12 mx-auto">

                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type dossier</th>
                            <th>Id adap</th>
                            <th>Demandeur</th>
                            <th>Nom erp</th>
                            <th>Nature</th>
                            <th>Categorie</th>
                            <th>Type</th>
                            <th>Date declaration</th>
                            <th>Date valid adap</th>
                            <th>Delai adap</th>
                            <th>Siret</th>
                            <th>Numero voie</th>
                            <th>Nom voie</th>
                            <th>Code postal</th>
                            <th>Code insee</th>
                            <th>Nom commune</th>
                            <th>Departement</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dbaListeerp in dbaListeerps %}
                        <tr>
                            <td>{{ dbaListeerp.listeerpTypedossier }}</td>
                            <td>{{ dbaListeerp.listeerpIdAdap }}</td>
                            <td>{{ dbaListeerp.listeerpDemandeur }}</td>
                            <td>{{ dbaListeerp.listeErpNomErp }}</td>
                            <td>{{ dbaListeerp.listeerpNature }}</td>
                            <td>{{ dbaListeerp.listeerpCategorie }}</td>
                            <td>{{ dbaListeerp.listeerpType }}</td>
                            <td>{{ dbaListeerp.listeerpDateDeclaration }}</td>
                            <td>{{ dbaListeerp.listeerpDateValidAdap }}</td>
                            <td>{{ dbaListeerp.listeerpDelaiAdap }}</td>
                            <td>{{ dbaListeerp.listeerpSiret }}</td>
                            <td>{{ dbaListeerp.listeerpNumeroVoie }}</td>
                            <td>{{ dbaListeerp.listeerpNomVoie }}</td>
                            <td>{{ dbaListeerp.listeerpCodePostal }}</td>
                            <td>{{ dbaListeerp.listeerpCodeInsee }}</td>
                            <td>{{ dbaListeerp.listeerpNomCommune }}</td>
                            <td>{{ dbaListeerp.listeerpDepartement }}</td>
                            <td>
                                <ul class="list-group">
                                    <li id="voir1" class="list-group-item">
                                        <a href="{{ path('dbalisteerp_show', { 'listeerpId': dbaListeerp.listeerpId }) }}">Voir</a>
                                    </li>
                                    <li id="modifier1" class="list-group-item">
                                        <a href="{{ path('dbalisteerp_edit', { 'listeerpId': dbaListeerp.listeerpId }) }}">Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <div class="liens_liste">
                    <button class="btn btn-success btn-lg"><a style="color: #ffffff; padding: 4em" href="/liste/new">Créer Nouvel ERP</a></button>
                    <button class="btn btn-secondary btn-lg"><a style="color: #ffffff; padding: 4em" name="export" href="{{ path('export') }}">Export CSV</a></button>
                </div>

                <br>
                <div class="navigation col-4 mx-auto">
                    {{ knp_pagination_render(dbaListeerps) }}
                </div>
        </div>
    </div>

</div>
{% endblock %}
