{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <h1>Liste ERP</h1>
    <br>

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12 mx-auto">

                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type dossier</th>
                            <th>Id adap</th>
                            <th>Demandeur</th>
                            <th>Nom erp</th>
                            <th>Nature</th>
                            <th>Categorie</th>
                            <th>Type</th>
                            <th>Date declaration</th>
                            <th>Date valid adap</th>
                            <th>Delai adap</th>
                            <th>Siret</th>
                            <th>Numero voie</th>
                            <th>Nom voie</th>
                            <th>Lieu dit</th>
                            <th>Code postal</th>
                            <th>Code insee</th>
                            <th>Nom commune</th>
                            <th>Departement</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dbaListeerp in dbaListeerps %}
                        <tr>
                            <td>{{ dbaListeerp.listeerpTypedossier }}</td>
                            <td>{{ dbaListeerp.listeerpIdAdap }}</td>
                            <td>{{ dbaListeerp.listeerpDemandeur }}</td>
                            <td>{{ dbaListeerp.listeErpNomErp }}</td>
                            <td>{{ dbaListeerp.listeerpNature }}</td>
                            <td>{{ dbaListeerp.listeerpCategorie }}</td>
                            <td>{{ dbaListeerp.listeerpType }}</td>
                            <td>{{ dbaListeerp.listeerpDateDeclaration }}</td>
                            <td>{{ dbaListeerp.listeerpDateValidAdap }}</td>
                            <td>{{ dbaListeerp.listeerpDelaiAdap }}</td>
                            <td>{{ dbaListeerp.listeerpSiret }}</td>
                            <td>{{ dbaListeerp.listeerpNumeroVoie }}</td>
                            <td>{{ dbaListeerp.listeerpNomVoie }}</td>
                            <td>{{ dbaListeerp.listeerpLieuDit }}</td>
                            <td>{{ dbaListeerp.listeerpCodePostal }}</td>
                            <td>{{ dbaListeerp.listeerpCodeInsee }}</td>
                            <td>{{ dbaListeerp.listeerpNomCommune }}</td>
                            <td>{{ dbaListeerp.listeerpDepartement }}</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{{ path('dbalisteerp_show', { 'listeerpId': dbaListeerp.listeerpId }) }}">voir</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{{ path('dbalisteerp_edit', { 'listeerpId': dbaListeerp.listeerpId }) }}">modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <div class="liens_liste">
                    <button class="btn btn-primary btn-lg"><a style="color: #ffffff; padding: 4em" href="/liste/new">Nouveau</a></button>
                    <button class="btn btn-primary btn-lg"><a style="color: #ffffff; padding: 4em" href="/liste/new">Exporter</a></button>
                </div>
                
                <br>
                <div class="navigation col-4 mx-auto">
                    {{ knp_pagination_render(dbaListeerps) }}
                </div>
        </div>
    </div>

</div>
{% endblock %}
