{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Saisie d'un établissement sur la liste d'accessibilité</h1>
    <br>
    <div class="container-fluid">
        <form action="/liste/insert" method="post">
            <div class="row">
                <div class="col-4">
                    <div>
                      <br>
                        <input id="demandeur" value="" class="form-control" type="text" name="demandeur" placeholder="nom du demandeur">
                    </div>
                </div>
                <div class="col-4">
                    <div>
                      <br>
                        <input id="enseigne" value="" required class="form-control" type="text" name="nom_erp" placeholder="Établissement / enseigne">
                    </div>
                </div>
                <div class="col-4">
                    <label id="label-siret" for=""></label>
                    <input value="" class="form-control" type="text" name="siret" placeholder="Siret">
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-6" id="locationField">
                    <label for="adress">Entrez l'adresse de l'établissement</label>
                    <input data-check="false" value="" name="address" class="form-control" id="autocompleteAddress" placeholder="Adresse de l'établissement"
                         {# onFocus="geolocate()" #} type="text"></input>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">
                            <label for="numero_rue">N° de rue</label>
                            <input disabled="true" value="" class="form-control field" name="numero_rue" id="street_number" disabled="true"></input>
                        </div>
                        <div class="col-8 offset-1">
                            <label for="rue">Rue</label>
                            <input disabled="true" value="" class="form-control field" name="rue" id="route" disabled="true"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="commune">Commune</label>
                            <input disabled="true" value="" required name="commune" class="form-control field" id="locality" disabled="true"></input>
                        </div>
                        <div class="col-4 offset-1">
                            <label for="code_postal">Code postal</label>
                            <input disabled="true" value="" required name="code_postal" class="field form-control" id="postal_code" disabled="true"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="departement">Département</label>
                            <input disabled="true" value="" required name="departement" class="form-control field" id="administrative_area_level_2" disabled="true"></input>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <label for="types">Type(s) de l'établissement</label>
                    <select required multiple name="types[]" class="form-control" style="height:75%" id="exampleFormControlSelect2">
                        {% for type in types %}
                            <option value="{{type.typeactiviteCode}}">{{type.typeactiviteNom}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <label for="categorie">Catégorie</label>
                            <select name="categorie" class="form-control">
                                {% for categorie in categories %}
                                    <option value="{{categorie.categorieId}}">{{categorie.categorieCode}} : {{categorie.categorieNom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <label for="nature">nature de l'établissement</label>
                            <select name="nature" class="form-control">
                                <option value="erp">erp</option>
                                <option value="iop">iop</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <label for="date">Date d'engagement</label>
                        </div>
                        <div class="col-6">
                            <label for="delai">Delai de mise en conformité</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input value="" required class="form-control" id="date" type="date" name="date_valid">
                        </div>
                        <div class="col-6">
                            <input value="" required class="form-control" type="number" step='3' min='0' max='9' name="delai" placeholder='3'>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <label for="adap">Numéro de dossier (adap / attestation)</label>
                        </div>
                        <div class="col-6">
                            <label for="dossier">type de dossier</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input value="" required class="form-control" type="text" name="id_adap" placeholder="N° Adap">
                        </div>
                        <div class="col-6">
                            <select name="dossier" class="form-control">
                                <option value="adap_s">adap_s</option>
                                <option value="at_adap">at_adap</option>
                                <option value="attestation">attestation</option>
                                <option value="adap">adap</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <input value="" type="hidden" id="lat" name="lat"></input>
            <input value="" type="hidden" id="lng" name="lng"></input>
            <input value="" type="hidden" id="check" name="check" >
            <br>
            <div class="row">
                <div class="col-4 offset-2">
                    <input type="submit" class="btn btn-success" value="Enregistrer">
                </div>
                <div class="col-4">
                    <a href="/liste/index" class="btn btn-success">Annuler</a>
                </div>
            </div>
        </form>
    </div>
    <script>
      $(document).ready(function() {
        $('input[name=siret]').on('input', function() {
          $('input[name=siret]').attr('maxlength', '14');
          $('input[name=siret]').attr('minlength', '14');
          $('input[type=submit]').attr("disabled", false);
          if ($(this).val().length == 14) {
            var isnum = /^\d+$/.test($(this).val());
            if (!isnum) {
              $('input[type=submit]').attr("disabled", true);
              $('#label-siret').html("Veuillez entrer un n° de Siret valide (14 chiffres) ou 0 si vous n'avez aucune informations");
              $(this).parent().css('border', '1px solid red');
            } else {
              $('#label-siret').html("Veuillez patienter...")
              $.post('/siret', {'siret': $(this).val()}).success(function(data) {
                if (data == 0) {
                  $('#label-siret').html("Le siret renseigné est invalide");
                }
                else {
                  var components = ['street_number', 'route', 'locality', 'administrative_area_level_2', 'postal_code'];
                  for (var i=0; i < components.length; i++) {
                    var id = components[i];
                    document.getElementById(id).disabled = false;
                    document.getElementById(id).value = data.address[id];
                  }
                  $('#lat').val(data['lat']);
                  $('#lng').val(data['lng']);
                  if (data.enseigne == null && data.demandeur != null) {
                    $('#enseigne').val(data['demandeur']);
                  }
                  else {
                    $('#demandeur').val(data['demandeur']);
                    $('#enseigne').val(data['enseigne']);
                  }
                  $('input[name=siret]').parent().removeAttr('style');
                  $('#label-siret').html("");
                }
              })
            }
          }
          if ($('input[name=siret]').val() == "" || $('input[name=siret]').val() == "0") {
            $('#label-siret').html("");
            $('input[type=submit]').attr("disabled", false);
            $('input[name=siret]').parent().removeAttr('style');
            $('input[name=siret]').removeAttr('maxlength');
            $('input[name=siret]').removeAttr('minlength');
          }
        })

        $('form').on('submit', function() {
          return confirm('Etes-vous sûr de vos informations ?');
        })
      })

      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocompleteAddress;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_2: 'short_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocompleteAddress = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocompleteAddress')),
            {types: ['geocode'], 
            componentRestrictions: {country: 'fr'}
            });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocompleteAddress.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocompleteAddress.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
        $('#lat').val(place.geometry.location.lat());
        $('#lng').val(place.geometry.location.lng());
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      // I think it's useless, i mean, i do not use this
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocompleteAddress.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVK6KttAlmqs-6rC-thezTYr8cPvxWKdQ&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock %}
