{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbalisteerp</h1>

    <table>
        <tbody>
            <tr>
                <th>Listeerpid</th>
                <td>{{ dbaListeerp.listeerpId }}</td>
            </tr>
            <tr>
                <th>Listeerptypedossier</th>
                <td>{{ dbaListeerp.listeerpTypedossier }}</td>
            </tr>
            <tr>
                <th>Listeerpidadap</th>
                <td>{{ dbaListeerp.listeerpIdAdap }}</td>
            </tr>
            <tr>
                <th>Listeerpdemandeur</th>
                <td>{{ dbaListeerp.listeerpDemandeur }}</td>
            </tr>
            <tr>
                <th>Listeerpnomerp</th>
                <td>{{ dbaListeerp.listeErpNomErp }}</td>
            </tr>
            <tr>
                <th>Listeerpnature</th>
                <td>{{ dbaListeerp.listeerpNature }}</td>
            </tr>
            <tr>
                <th>Listeerpcategorie</th>
                <td>{{ dbaListeerp.listeerpCategorie }}</td>
            </tr>
            <tr>
                <th>Listeerptype</th>
                <td>{{ dbaListeerp.listeerpType }}</td>
            </tr>
            <tr>
                <th>Listeerpdatedeclaration</th>
                <td>{{ dbaListeerp.listeerpDateDeclaration }}</td>
            </tr>
            <tr>
                <th>Listeerpdatevalidadap</th>
                <td>{{ dbaListeerp.listeerpDateValidAdap }}</td>
            </tr>
            <tr>
                <th>Listeerpdelaiadap</th>
                <td>{{ dbaListeerp.listeerpDelaiAdap }}</td>
            </tr>
            <tr>
                <th>Listeerpidign</th>
                <td>{{ dbaListeerp.listeerpIdIgn }}</td>
            </tr>
            <tr>
                <th>Listeerpsiret</th>
                <td>{{ dbaListeerp.listeerpSiret }}</td>
            </tr>
            <tr>
                <th>Listeerpnumerovoie</th>
                <td>{{ dbaListeerp.listeerpNumeroVoie }}</td>
            </tr>
            <tr>
                <th>Listeerpnumerocomplement</th>
                <td>{{ dbaListeerp.listeerpNumeroComplement }}</td>
            </tr>
            <tr>
                <th>Listeerpcomplementvoie</th>
                <td>{{ dbaListeerp.listeerpComplementVoie }}</td>
            </tr>
            <tr>
                <th>Listeerpnomvoie</th>
                <td>{{ dbaListeerp.listeerpNomVoie }}</td>
            </tr>
            <tr>
                <th>Listeerpaliasnomvoie</th>
                <td>{{ dbaListeerp.listeerpAliasNomVoie }}</td>
            </tr>
            <tr>
                <th>Listeerplieudit</th>
                <td>{{ dbaListeerp.listeerpLieuDit }}</td>
            </tr>
            <tr>
                <th>Listeerpcodepostal</th>
                <td>{{ dbaListeerp.listeerpCodePostal }}</td>
            </tr>
            <tr>
                <th>Listeerpcodeinsee</th>
                <td>{{ dbaListeerp.listeerpCodeInsee }}</td>
            </tr>
            <tr>
                <th>Listeerpnomcommune</th>
                <td>{{ dbaListeerp.listeerpNomCommune }}</td>
            </tr>
            <tr>
                <th>Listeerpdepartement</th>
                <td>{{ dbaListeerp.listeerpDepartement }}</td>
            </tr>
            <tr>
                <th>Listeerpstatut</th>
                <td>{{ dbaListeerp.listeerpStatut }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbalisteerp_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dbalisteerp_edit', { 'listeerpId': dbaListeerp.listeerpId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
