<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{% block title %}C'Conforme - Rechercher les établissements à accès pour personnes à mobilité réduite{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <link rel="icon" href="{{ asset('img/marianne.jpg') }}">
        <link rel="stylesheet" href="{{ asset('css/style_footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <script>
            $(function() {
                function log( message ) {
                    $( "<div>" ).text( message ).prependTo( "#log" );
                    $( "#log" ).scrollTop( 0 );
                }
                $( "#name" ).autocomplete({
                    source: function (request, response) {
                        $.get("liste/autocomplete_name",  {
                            term: request.term
                        }, function (data) {
                            var strings = []
                            $.each(data, function(i, e) {
                                strings[i] = e["name"] + " | " + e["adress"]

                            })
                            if (strings)response(strings);
                        });
                    },
                    minLength: 1,
                    select: function( event, ui ) {
                        log( ui.item ?
                            "Selected: " + ui.item.value + " aka " + ui.item.id :
                            "Nothing selected, input was " + this.value );
                    }
                });
            });
            $(function() {
                function log( message ) {
                    $( "<div>" ).text( message ).prependTo( "#log2" );
                    $( "#log" ).scrollTop( 0 );
                }
                $( "#adress" ).autocomplete({
                    source: function (request, response) {
                        $.get("liste/autocomplete_adress", {
                            term: request.term
                        }, function (data) {
                            var strings = []
                            $.each(data, function(i, e) {
                                strings[i] = e["name"] + " | " + e["adress"]

                            })
                            if (strings)response(strings);
                        });
                    },
                    minLength: 1,
                    select: function( event, ui ) {
                        log( ui.item ?
                            "Selected: " + ui.item.value + " aka " + ui.item.id :
                            "Nothing selected, input was " + this.value );
                    }
                });
            });
        </script>

    {% endblock %}

</head>
<body>

<div class="container-fluid header">
    <a href="/">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img id="logo" src="{{ asset('img/marianne.jpg') }}" class="img-fluid rounded">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 id="title">C'Conforme</h1>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h2 id="slogan" >Vérifier la conformité à l'accessibilité à un établissement pour une personne en situation de handicap.</h2>
            </div>

        </div>

    </a>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="row">
            <div class="action-nav col-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/">Espace Clients</a> //
                <a href="/liste/index">Liste ERP</a>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="action-nav col-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/login">Espace Restreint</a>
            </div>
        </div>
    {% endif %}
</div>
{% block body %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBapkuSxVaHJ0CZhOBk3H4NnHARd4H_btk&callback=initMap">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVK6KttAlmqs-6rC-thezTYr8cPvxWKdQ&callback=initAutocomplete"></script>
{% endblock %}
</body>
</html>
