<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{% block title %}C'Conforme - Rechercher les établissements à accès pour personnes à mobilité réduite{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <link rel="icon" href="{{ asset('img/marianne.jpg') }}">
        <link rel="stylesheet" href="{{ asset('css/style_footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}

        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    {% endblock %}

</head>
<body>

<div class="container-fluid header">
    <a href="/">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img id="logo" src="{{ asset('img/marianne.jpg') }}" class="img-fluid rounded">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 id="title">C'Conforme</h1>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h2 id="slogan" >Consulter la conformité à l'accessibilité à un établissement pour une personne en situation de handicap.</h2>
            </div>

        </div>

    </a>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2 action-nav">
                <a href="/report">Liste signalements</a>
            </div>
             <div class="col-md-2 action-nav">
                <a href="/liste/index">Liste ERP</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <div class="action-nav">
                <a href="{{ path('fos_user_security_logout') }}" class="">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Déconnexion
                </a>
              </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="action-nav col-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/login">Espace Réservé</a>
            </div>
        </div>
    {% endif %}
</div>
{% block body %}

{% endblock %}

    {# <a href="/mentions" class="col-4">Mentions légales</a> #}

{% block javascript %}
    {# <script src="{{ asset('js/script.js') }}"></script> #}
    
    {# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBapkuSxVaHJ0CZhOBk3H4NnHARd4H_btk&libraries=places&callback=initMap">
    </script> #}
         <script>
    //         $(function() {
    //             // function that add the item to the form on click
    //             var idsitem = []; // array that holds id for item autocompleted
    //             var strings = []; // array that holds value of item autocompleted
    //             function log( message ) {
    //                 // debugger;
    //                 $( "<div>" ).text( message ).prependTo( "#log" );
    //                 $( "#log" ).scrollTop( 0 );
    //             }
    //             $( "#name" ).autocomplete({
    //                 source: function (request, response) {
    //                     $.get("liste/autocomplete_name",  {
    //                         term: request.term
    //                     }, function (data) {
    //                         strings = [];
    //                         idsitem = [];
    //                         $.each(data, function(i, e) {
    //                             strings[i] = e["name"] + " | " + e["adress"];
    //                             idsitem[i] = e['id'];
    //                         })
    //                         if (strings) {
    //                             response(strings)
    //                         };
    //                     });
    //                 },
    //                 minLength: 1,
    //                 select: function( event, ui) {
    //                     var indexArr = arraySearch(strings, ui.item.value); // index of strings so we can retrieve the id of the item
    //                     var id = idsitem[indexArr];
    //                     // document.getElementsByClassName('id_autocomplete').attr('data-iditem').value = id;
    //                     $('.id_autocomplete').data('iditem', id);
    //                     // debugger;
    //                     log( ui.item ?
    //                         "Selected: " + ui.item.value + " aka " + ui.item.id :
    //                         "Nothing selected, input was " + this.value );
    //                 }
    //             });


    //             function arraySearch(arr,val) {
    //                 // debugger;
    //                 for (var i=0; i<arr.length; i++)
    //                     if (arr[i] === val)                    
    //                         return i;
    //                 return false;
    //             }
    //         });
    // //     </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVK6KttAlmqs-6rC-thezTYr8cPvxWKdQ&callback=initAutocomplete"></script> -->
{% endblock %}
</body>
</html>
