{% extends "::base.html.twig" %}

{% block body %}
  <h1>Listes des signalements</h1>
  <table>
    <thead>
      <tr>
        <th>Adresse actuelle de l'erp</th>
        <th>Adresse signalée</th>
        <th>Mail de l'utilisateur</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr>
        <td> {{ report.AdresseErp}}</td>
        <td> {{ report.AdresseSignalee }}</td>
        <td> {{ report.UserEmail}}</td>
        <td> {{ report.Message}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ path('liste') }}">Liste ERP</a>
{% endblock %}
